* {
  font-family: sans-serif;
  color: darkblue;
  background-color: antiquewhite;
}

.title {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.task-icon {
  width: 30px;
  height: 30px;
}

/*cursos options:
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
.add-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 2rem;
  background-color: white;
  cursor: pointer;
}

.add-button-img {
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 2rem;
  margin-top: 4px;
  cursor: pointer;
}

input {
  border: none;
  border-radius: 2rem;
  background-color: white;
  padding: 0.5rem;
  cursor: text;
}

.list-of-tasks {
  display: flex;
  justify-content: center;
}

/*.tasks {
  margin: 0.5rem;
  padding-left: 0.5rem;
  width: 25rem;
  background-color: white;
  color: darkblue;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding-left: 1rem;
  border-radius: 2rem;
}*/

select {
  appearance: none;
  outline: none;
  border: none;
}

.list-options {
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}

select {
  background-color: white;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  padding: 1rem;
}

.task-style {
  margin: 0.5rem;
  padding-left: 0.5rem;
  width: 25rem;
  height: 2rem;
  background-color: white;
  color: darkblue;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding-left: 1rem;
  border-radius: 2rem;
}

.complete-button,
.delete-button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.todo {
  display: flex;
  flex-direction: row;
}

.task-style-completed {
  background-color: white;
  text-decoration: line-through;
  opacity: 0.5;
}

.tasks-complete {
  margin: 0.5rem;
  padding-left: 0.5rem;
  width: 25rem;
  height: 2rem;
  background-color: white;
  color: darkblue;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding-left: 1rem;
  border-radius: 2rem;
  opacity: 0.5;
  text-decoration: line-through;
}
